/* CSS declarations go here */
*{
    color: #606060;
}

hr{
    padding:0;
    margin-top:5px;
    border-top: 8px solid #fff;
    
}

.hr{
    margin:10px;
    border-top: 4px solid #fff;
}

.hr-override{
    margin-top:5px !important;
    border-top: 4px solid #606060 !important;
    width:100% !important;
    margin-bottom:5px !important;
    
}

.p-override{
    margin:0;
    padding:0;
}

h3{
    padding:0 !important;
    margin:0 !important;
}

a{
    color: #606060;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #606060;
}

a.hover{
    color: #000;
}

.nav-font-styles{
    font-size: 16px;
    color: #606060;
}

body{
    background-image:url('/images/bg1.jpg');
    background-size:cover;
}

.main-content-panel{
    background-color:rgba(218, 235, 242, 0.7);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.verticalCenter {
	vertical-align: center;
    display: inline-block;
    float: none;
}

.gameCard{
    width: "300px";
    background-color: 'red';
    padding-bottom: '3px';
    float:'left';
    margin:10px;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.801);
}

.margin-5 {
    margin: 5px;
}
.add-on .input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  /* stop the glowing blue shadow */
  .add-on .form-control:focus {
   box-shadow:none;
   -webkit-box-shadow:none; 
   border-color:#cccccc; 
  }
  .form-control{}
  .navbar-nav > li > a {
    border-right: 1px solid #ddd;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .navbar-nav:last-child{ border-right:0}

  .cancel-button{
      background-color:rgba(255, 64, 76, 1);
  }

  .page-wrapper{
      margin-top:20px;
  }

  .page-content{
    background-color: rgba(255, 255, 255, 0.801);
    margin:6px;
    color: #012C40;
    padding:10px;
}

  
  .page-content-half{
    background-color: rgba(255, 255, 255, 0.801);
    margin:6px;
    color: #012C40;
    height:430px;
    padding:10px;
    overflow: hidden;
}
.page-content-scroller{
    height:350px;
    overflow-y:scroll;
    overflow-x: hidden;
}

.col-lg-6{
    margin:0px;
    padding-right:0px;
    padding-left:0px;
}

.split-page-left{
    float:left;
    padding:10px;
}

.split-page-right{
    float:left;
    padding:10px;
}

.objectCardHalf{
    margin:10px;
    border: solid 2px #606060;
    overflow:auto;
    border-radius: 10px 10px 10px 10px;
}

.objectCardHalfImage{
    float:left;
    width:120px;
    height:130px;
    padding: 10px 10px 0px 10px;
    
}

.objectCardHalfInfo{
    float:left;
    height:110px;
}

.right-border{
    border-right:solid 4px #fff;
}

.left-border{
    border-left:solid 4px #fff;
}

.full-width{
    width:100%;
}

.spacer{
    margin-bottom:10px !important;
}

.half-spacer{
    margin-bottom:5px !important;
}
.no-scrollbar{
    overflow: hidden;

}
.fill-height{
    position: absolute;
    top:0px;
    bottom:0px;
    overflow-y: hidden;
    height:90vh;
}

.submit-button{
    height:50px;
    color: #fff;
    background-color:red;
}

.scrolling-container{
    overflow-y:scroll;
    height:80vh;
}

.vertical-character-image{
    height:300px;
    overflow:hidden;
}

.vertical-character-card{
    padding:10px;
}

.vertical-character-card-contents{
    padding:10px;
    height:480px;
    border: solid 2px #606060;
    overflow:auto;
    border-radius: 10px 10px 10px 10px;
}

.vertical-character-data{
    margin:10px;
}

@media only screen and (max-width: 800px) {
    .fill-height{
        overflow-y: scroll;
    }
}