/* CSS declarations go here */
*{
    color: #606060;
}


hr{
    padding:0;
    margin-top:5px;
    border-top: 4px solid #fff;
    
}
.hr-thicc{
    margin:10px;
    border-top: 4px solid #fff;
}

.hr{
    margin:10px;
    border-top: 2px solid #fff;
}

.hr-override{
    margin-top:5px !important;
    border-top: 4px solid #606060 !important;
    margin-bottom:5px !important;
    
}

.hr-override-light{
    margin-top:5px !important;
    border-top: 2px solid #606060 !important;
    margin-bottom:5px !important;
}

nav a:hover{
    text-decoration: none;
}

.p-override{
    margin:0;
    padding:0;
}

h3{
    padding:0 !important;
    margin:0 !important;
}

a{
    color: #606060;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000 !important;
}

a.hover{
    color: #000;
}

.nav-font-styles{
    font-size: 16px;
    color: #606060;
}

body{
    background-image:url('/images/bg3.jpg');
    background-size:cover !important;
    width:100%;
    height:100%;
    resize:both;
    overflow:auto;
}

.main-content-panel{
    background-color:rgba(218, 235, 242, 0.7);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

.verticalCenter {
	vertical-align: center;
    display: inline-block;
    float: none;
}

.gameCard{
    width: "300px";
    background-color: 'red';
    padding-bottom: '3px';
    float:'left';
    margin:10px;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.801);
}

.margin-5 {
    margin: 5px;
}
.add-on .input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  /* stop the glowing blue shadow */
  .add-on .form-control:focus {
   box-shadow:none;
   -webkit-box-shadow:none; 
   border-color:#cccccc; 
  }

  .navbar-nav > li > a {
    border-right: 1px solid #ddd;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .navbar-nav:last-child{ border-right:0}

  .cancel-button{
      background-color:rgba(255, 64, 76, 1);
  }

  .page-wrapper{
      margin-top:20px;
  }

  .page-content{
    background-color: rgba(255, 255, 255, 0.801);
    margin:6px;
    color: #012C40;
    padding:10px;
}

.content-container-left{
    background-color: rgba(255, 255, 255, 0.801);
    margin-right:10px;
    padding-right:10px;
    top:0px;
    bottom:0px;
    overflow-y: hidden;
}
.content-container-mid{
    top:0px;
    bottom:0px;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.801);
}

.content-container-right{
    background-color: rgba(255, 255, 255, 0.801);
    margin-left:10px;
    padding-left:10px;
    top:0px;
    bottom:0px;
    overflow-y: hidden;
}

.content-panel-container{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0px;
    bottom:0px;
    overflow-y: hidden;
    min-height:300px;
    background-color:rgba(255, 255, 255, 0.801);
}
.sub-content{
    display: -webkit-flex;
    display: flex;
    margin:6px;
    color: #012C40;
    padding:10px;
}
.sub-content-top{
    display: -webkit-flex;
    display: flex;
    min-height:500px;
    height:60vh;
    color: #012C40;
}
.sub-content-bottom{
    display: -webkit-flex;
    display: flex;
    min-height:300px;
    height:29vh;
    margin-top:1vh;
    color: #012C40;
}
  
  .page-content-half{
    background-color: rgba(255, 255, 255, 0.801);
    display:flex;
    flex-direction:column;
    margin:6px;
    color: #012C40;
    height:430px;
    padding:10px;
    overflow: hidden;
}
.page-content-scroller{
    height:350px;
    overflow-y:auto;
    overflow-x: hidden;
}

.col-lg-6{
    margin:0px;
    padding-right:0px;
    padding-left:0px;
}

.split-page-left{
    float:left;
    padding:10px;
}

.split-page-right{
    float:right;
    padding:10px;
}

.objectCardHalf{
    margin:10px;
    padding:10px;
    border: solid 2px #606060;
    overflow:hidden;
    border-radius: 10px 10px 10px 10px;
}

.objectCardHalfImage{
    float:left;
    width:90px;
    height:90px;
    margin-right:10px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.objectCardHalfInfo{
    margin:0px;
}

.objectCardHalfInfo p{
    margin-top:0px;
}

.objectCardHalf:hover{
    transition:.5s;
    background-color:rgba(255, 64, 76, .415);
}
.textAssetMini{
    display: -webkit-flex;
    display: flex;
    margin:5px;
    padding:5px;
    border: solid 2px #606060;
    overflow:hidden;
    max-height:80px;
    border-radius: 10px 10px 10px 10px;
}
.NPCCardMini{
    display: -webkit-flex;
    display: flex;
    margin:5px;
    padding:5px;
    border: solid 2px #606060;
    overflow:hidden;
}

.NPCCardMiniImage{
    float:left;
    width:30px;
    height:30px;
    overflow: hidden;    
}

.NPCCardMini:hover{
    transition:.5s;
    background-color:rgba(255, 64, 76, .415);
}

.objectCardMini{
    display: -webkit-flex;
    display: flex;
    margin:5px;
    padding:5px;
    border: solid 2px #606060;
    overflow:hidden;
    border-radius: 10px 10px 10px 10px;
}

.objectCardMiniImage{
    float:left;
    width:60px;
    height:60px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;    
}

.objectCardMiniInfo{
    float:left;
    margin:0px;
}

.objectCardMiniInfo p{
    margin-top:0px;
}
.textAssetMini:hover{
    transition:.5s;
    max-height:180px;
    background-color:rgba(255, 64, 76, .415);
}
.objectCardMini:hover{
    transition:.5s;
    background-color:rgba(255, 64, 76, .415);
}

.textCardMiniImage
{
    width:25px;
    height:25px;
    margin-right:5px;
}

.textCardMini:hover{
    transition:.5s;
    background-color:rgba(255, 64, 76, .415);
}

.right-border{
    border-right:solid 4px #fff;
}

.left-border{
    border-left:solid 4px #fff;
}

.full-width{
    width:100%;
}

.full-height{
    display:table;
}

.spacer{
    margin-bottom:10px !important;
}

.half-spacer{
    margin-bottom:5px !important;
}
.no-scrollbar{
    overflow: hidden;

}
.fill-height{
    top:0px;
    bottom:0px;
    overflow-y: hidden;
    height:90vh;
}
.fill-width{
    width:100%
}

.submit-button{
    height:50px;
    color: #fff;
    background-color:red;
}

.scrolling-container{
    overflow-y:auto;
}

.scrolling-container-80{
    height:80vh;
    overflow-y:auto;
}

.scrolling-container-50{
    height:50vh;
    overflow-y:auto;
}

.scrolling-container-smaller{
    overflow-y:auto;
    overflow-x:hidden;
    height:70vh;
}
.scrolling-container-content-top{
    overflow-y:auto;
    overflow-x:hidden;
    height:75%;
}

.vertical-image{
    height:300px;
    overflow:hidden;
}

.vertical-card{
    padding:10px;
}

.vertical-card-contents{
    padding:10px;
    height:440px;
    border: solid 2px #606060;
    overflow:hidden;
    border-radius: 10px 10px 10px 10px;
}

.vertical-data{
    margin:10px;
}

.stretch-image{
    width:100%;
    height:100%;
}

.image-card{
    float:left;
    padding:10px;    
    display: -webkit-flex;
    display: flex;
    margin:5px;
    border: solid 2px #606060;
    overflow:hidden;
    border-radius: 10px 10px 10px 10px;
    width:130px;
    height:130px;
}
.image-card:hover{
    transition:.5s;
    height:170px;
    background-color:rgba(255, 64, 76, .415);
}

.image-asset{
    width:110px;
    height:110px;
    clear:both;
}

.image-asset-img{
    display:block;
    margin: 0 auto;
    width:110px;
    height:110px;
    max-width: 110px;
    max-height:110px;
}
.delete-btn{
    margin-top:10px;
}

.no-margin-override{
    margin:0 !important;
}


.width-70{
    width:70%;
}

.h5-overflow-hidden{
    height:15px;
    overflow: hidden;
}

.small-text{
    font-size:12px;
}

.add-container:hover{
    transition:.5s;
    background-color:rgba(28, 168, 184, 0.415) !important;
}

.flex-grid{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.grid-item{
    flex-grow:1;
    min-width:20%;
}
.height-600{
    height:400px;
}

.bottom-button{
    margin:auto;
    margin-top:3vh;
    background-color: #FF404C;
    height:5vh;
    min-height:40px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.button-text {
    line-height: normal;
    color: #fff !important;
  }

  .game-screen{
      min-height:900px;
  }

  

  .dice-display{
      padding-top:10px;
      overflow-y:auto;
      min-height:300px;
      height:29vh;

  }

  .roll-display{
      float:left;
  }

  .dice-panel{
    float:left;
    width:80px;
    margin: 0 20px 20px 10px;
  }

  .rollbox{
      margin-top:5px;
      width:80px;
  }

.add-background{
    background-color:rgba(255, 255, 255, 0.801);
}   

.add-blue-background{
    background-color:#DAEBF2;
}

.negate-margin{
    margin-left:-10px;
}

.negate-margins{
    margin-left:-10px;
    margin-right:-10px;
}

.negate-vertical-margins{
    margin-top:0px;
    margin-bottom:0px;
}

center{
    display:flex;
    justify-content: center;
    align-items:center;
}

.mod-block{
    margin-top:20px;
}
.min-width-200{
    min-width:200px;
}

.bottom-align{
    position:relative;
    bottom:0;
    top:0;
}

.blue-button{
    color:#eee;
    background-color:#1CA5B8;
}

.toggle-box{
    width:10px;
    height:20px;
    float:left;
    background-color:#1CA5B8;
    margin-right:5px;
    border: solid #606060 1px;
}

.spell-slots{
    height:auto;
    display:inline-block;
    margin:0 auto;
}

.spell-slot-panel{
    float:left;
    width:100px;
    margin:15 0;
    margin-bottom:15px;
    
}

.add-friend-box{
    height:200px;
}


.userCardMini{
    background-color: rgba(255, 255, 255, 0.801);
    display: -webkit-flex;
    display: flex;
    margin:5px;
    padding:5px;
    overflow:hidden;
}

.userCardMiniImage{
    float:left;
    width:60px;
    height:60px;
    overflow: hidden;    
}

.userCardMiniInfo{
    float:left;
    margin:0px;
    margin-top:20px;
}

.speechBubble{
    min-width:80px;
    min-height:80px;
    border-radius: 20px;
    float:left;
    padding:20px;
}
a.menu_links{
    cursor:pointer;
}


.player-near-you{
}


.player-near-you:hover{
    transition:.5s;
    background-color:#606060;
    color:#eee;
}

.online-indicator{
    display:inline-block;
    height:10px;
    width:10px;
    margin-right:10px;
    border-radius: 5px;
    background-color:green;
}
.player-near-you-text{
    display:inline-block;

}

.add-image-popup{

    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 250px;
    width:400px;
    z-index: 999;
    padding:30px;
    margin:5vw auto;
    background-color: rgba(200, 200, 200, 0.801);
}


.add-player-popup{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    height: 500px;
    width:400px;
    z-index: 999;
    padding:30px;
    margin:5vw auto;
    background-color: rgba(200, 200, 200, 0.801);
}

.pending-invite-popup{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    height: 540px;
    width:500px;
    z-index: 999;
    padding:30px;
    margin:5vw auto;
    background-color: rgba(200, 200, 200, 0.801);
}


.button{
    margin:10px;
    width:100px;
    float:left;
}

.delete-btn{
    height:25px;
    color: #fff;
    background-color:red;
}
 

.delete-txt-btn{
    display:relative;
    margin-top:100px;
    height:25px;
    color: #fff;
    background-color:red;
}
.right-align{
    float:right;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
  }

  .no-padding{
      padding:0 0 !important;
  }
  .in-game-chat-window{
      height:200px; 
  }
  .in-game-chat-btn-container{
      max-height:300px;
  }
  .in-game-chat-btn{
  }

  .chat-box{
    background-color:rgba(51, 50, 44, .5);
    
  }
  

  .user-bubble{
      margin-left:auto;
      margin-right:0;
  }

  .spell-slot{
      background-color:#1CA5B8;
      margin-right:2px;
      height:15px;
      width:7px;
      float:left;
  }

  .spell-slot-container{
      float:left;
      width:40px;
  }

@media only screen and (max-width: 800px) {
    .logo{
        max-width:60%;
    }
    
    .min-width-400{
        min-width:400px;
    }
    .fill-height{
        overflow-y: scroll;
    }
    .sub-content-top{
        height:1500px;
    }
    .sub-content-bottom{
        height:900px;
    }
}


@media only screen and (max-width: 400px) {
    .logo{
        max-width:80%;
    }
}    